---
---
@import "variables";
@import "typography";
@import "elements";
@import "tutorials";
@import "header";
@import "layout";
@import "search";
@import "dark-theme";
@import "footer";
@import "faq";
@import "modal";
@import "form";
@import "cloudcannon";

/* To center images */
.center {
    text-align: center;
}

/* To unify size of icon images */
.icon {
    height: 35 px;
    width: 35 px;
}