---
layout: post
title: How to Backup and Sync your Accounts between Multiple Devices? What is SMS
  Verification?
date: 2016-07-05 09:39:55.000000000 +03:00
type: post
published: true
status: publish
categories:
- Our New Features
tags: []
lang: en
slug: /how-to-sync-your-accounts-between-multiple-devices-what-is-sms-verification/
meta:
---

BlueMail allows you to safely sync all your accounts to your other or new devices! To do it both easily and safely please follow the following steps:

On your other/new device, add an account you already had on your old device.

You will get a system message that allows you to sync your accounts by tapping *Verify Number*.

{: .center}
![Thumb1](/assets/1_thumb-1.png)

If you choose *Later* you can always get back to the sync process by tapping *More...* \| *Global Settings* \| *Advanced Features* \| *Backup Accounts*

You will need to enter your mobile phone number.

{: .center}
![SMS](/assets/2_thumb.png)

Press *Send* and after a short while you will get an SMS with a 5 digit code.

You will be asked to enter that code and confirm it.

{: .center}
![SMS2](/assets/3.png)

You have few tries and when you are able to enter the right code you have verified your number on that new device.

Now the verification process starts! You will get a system message in BlueMail on your old device, with the identification of your phone number and request to *Insert Code*.

{: .center}
![Verification](/assets/4-1-2.png){:width="238px"}

Please insert the same code and if done correctly – your accounts will sync to the new device!

{: .center}
![Verification2](/assets/5.png)

In this way, you can get all your accounts from the old device to your new device, securely and reliably.

Please Note: Backing up your account settings is part of our plans and on our roadmap, and may be released in one of the future updates.